

/* ----------------------------------------Images */


/*---- Section of text taken from W3C site ----*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10px;
}

/*----Nav Bar---Taken from Bootstrap, and unused in this project as it did not work--*/

/*--.navbar-custom {
    background-color:  #179db8;
}*/


.navbar-toggler-icon {
    color: lightgreen;
    border-color: lightgreen;

}

.navbar-light {
    color: #96ff00;



}


.custom-toggler.navbar-toggler { 
            border-color: lightgreen; 
            color: lightgreen;
        } 


/* ----------------------------------------Text Properties */



/* ------------------------ Formatting */
.tab-width {
    margin: 5px;
    width: 100%;
    padding: 25px;
    color: black;
    
    
}

.center-Text {
    text-align: center;
        
}

.margin {
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
    margin: 25px;
}

.marg {
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 30px;


}
.right {
    text-align: right;

}


/* ----------- #96ff00------------- Colour */

.bg-header {
    background-color: #179db8;
}

.hd-colour {
    color:black;
    font-size: 8vw;
}

.mbhd-text {
    color: black;
    font-size: 5vw;

}

.mb-text {
    color: black;
    font-size: 3vw;

}

.quick-colour {
    color: #96ff00;
    font-size: 6vw;

}

.text-colour-ltgr {
    color: #96ff00;
        
}

.ac-colour {
    color: black;
    font-size: 2vw;
}


/*--- media queries ---*/

/*--- Media Query added to help make the images behave better for smaller screens ---*/
@media all and (min-width: 950px) {
  img.large {
    height: 300px;
    width: 300px;
  }
}

/*--@media all and (min-width: 950px) {
  img.csl-large {
    height: 250px;
    width: auto;
  }
--*/}


@media all and (max-width: 900px) {
  img.medium {
    height: 150px;
    width: 150px;
  }
}
@media screen and (min-width: 950px) {
  .csl-large {
    height: 250px;
    width: auto;
     
    }
}



@media screen and (max-width: 900px) {
  .medium {
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 900px) {
  .csl-medium {
    height: 150px;
    width: auto;
  }
}

@media screen and (max-width: 500px) {
  .small {
    height: 75px;
    width: 75px;
  }
}

@media screen and (max-width: 500px) {
  .csl-small {
    height: 100px;
    width: auto;
  }
}
